body{
    background-color:white;
}
.container{
    margin-top: 0px !important;

}
.card{

    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.253);

    transition: transform .3s;
}
.card:hover{

    transform: translate(-15px);
    transition: transform .3s;
}
.text{

    font-size: 13px;
    color: darkcyan;
}
.info{
    line-height: 17px;
}
.star{

    color: rgb(161, 161, 19);
    font-size: xx-small;
}
.cost span{

    color: white;


}
.Hen{
    background-color: rgb(0, 153, 255);
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

.line{

    width: 0px;

    height: 500px;
    border-left: 5px solid;

}

